.navbar
{
  display: inline-block;
  position: relative;
  background-color: red;
}

.navbarNav
{
  position: absolute;
  z-index: 9999;
  top: 18px;
  padding: 0;
  background-color: #565771;
  background-color: pink;
}

.navbarBottom
{
  border: 0;
  background-color: #565771;
  padding: 9px 10px;
  cursor: pointer;
  background-color: plum;
}