.navbar
{
  display: inline-block;
  position: relative;
  color: #fff;
  padding-left: 10px;
  padding-top: 0;
}

.navbarNav
{
  margin: 0;
  margin-top: 10px;
  position: absolute;
  box-shadow: 0 0 3px #8589ce;
  border-radius: 5px;
  top: 18px;
  padding: 0;
  outline: 0;
}

.navbarBottom
{
  cursor: pointer;
  background-color: inherit;
  font-size: 14px;
  color: #fff;
  outline: 0;
  border-radius: 5px;
  border: 2px solid #8589ce;
  padding: 2px 10px;
}