.header
{
  display: flex;
  background-color: #565771;
}

.dBlock
{
  display: block;
  width: 100%;
}

.logo
{
  display: inline-block;
  width: 65px;
  height: 65px;
}

.menu
{
  display: none;
  border-bottom: transparent;
  margin: -1px 0;
  padding: 0;
}

.item
{
  display: block;
  border: 1px solid #000;
  padding: 6px 5px;
}

.containerDropdown
{
  border-bottom: 1px solid #000;
}