.header
{
  position: relative;
  display: flex;
  background-color: #7073aa;
  box-shadow: 0 0 8px #949497;
}

.header::before 
{
  content: url("../../image/logo.png");
  position: absolute;
  right: 186px;
  top: 19px;
  opacity: 0.3;
}

.header::after
{
  content: url("../../image/bg.jpeg");
  position: absolute;
  transform: scale(.6);
  top: -52px;
  right: 0;
  right: -60px;
  opacity: 0.1;
}

.dBlock
{
  display: block;
  width: 100%;
}

.logo
{
  margin: 10px;
  background-image: url(/src/image/cat.jpeg);
  background-size: contain;
  display: inline-block;
  width: 100%;
  max-width: 57px;
  height: auto;
  border: #8589ce 2px solid;
  border-radius: 50%;
  max-height: 57px;
}
   
.menu
{
  display: none;
  border-bottom: transparent;
  margin: -1px 0;
  padding: 0;
}

.item
{
  display: block;
  border: 1px solid #000;
  padding: 6px 5px;
}

.containerDropdown
{
  display: flex;
  justify-content: start;
}

.fontSizeSettings
{
  display: flex;
  flex-direction: row;
}