.titleContainer
{
  display: block;
  width: 100%;
}

.titlePresentation
{
  display: block;
  padding: 0;
  border-width: 1px 0;
  border-style: solid;
  border-color: #000;
  background-color: #494B68;
  color: #fff;
  text-align: center;
  height: 30px;
  width: 100%;
  outline: 0;
}

.titlePresentation::placeholder
{
  text-align: center;
  color: #fff;
}