.titleContainer
{
  margin: 15px 10px 5px 10px;
  display: inline-block;
  text-align: center;
}

.titlePresentation
{
  font-size: 20px;
  color: #fff;
  height: 35px;
  background-color: inherit;
  outline: 0;
  padding: 0;
  border-radius: 5px;
  border: 2px solid #8589ce;
  position: relative;
  transition: 100ms;
  padding-left: 8px;
}

.titlePresentation:focus
{
  border-radius: 5px;
  border: 2px solid #969ae9;
  transition: 100ms;
}

.titlePresentation::placeholder
{
  color: #fff;
}