.titleContainer
{
  margin: 15px 10px 15px 10px;
  display: inline-block;
}

.titlePresentation
{
  font-size: 20px;
  color: #fff;
  height: 35px;
  background-color: inherit;
  outline: 0;
  border: 0;
  padding: 0;
  padding: 10px 15px;
  padding-right: 0;
  border-radius: 5px;
  border: 1px solid rgb(173, 170, 170);
  position: relative;
  transition: 250ms;
}

.titlePresentation:focus
{
  border-radius: 5px;
  border: 1px solid rgb(216, 216, 216);
  transition: 100ms;
}

.titlePresentation::placeholder
{
  text-align: center;
  color: #fff;
}