.slidesContainer
{
  display: block;
  border: 0;
  background-color: rgb(247, 239, 243);
  border: 2px solid #969ae9;
  border-radius: 5px;
}

.slides {
  display: inline-block;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 360px;
  height: 100%;
  touch-action: auto;
}

.slides::-webkit-scrollbar {
  width: 6px;
}

.slides::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

.slides::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #c7a3e9, #889fc3);
}