.slideContainer
{
    display: flex;
    padding: 15px;
}

.numberSlide
{
    margin-left: -6px;
    width: 30px;
    color: #7073aa;
}

.slide
{
    background-color: #fff;
    width: 100%;
    height: 180px;
    /* height: 100vh; */
    box-shadow: 0 0 3px #969ae9;
    border-radius: 7px;
}