.slideContainer
{
    display: flex;
    padding: 15px;
    pointer-events: none;
}

.numberSlide
{
    margin-left: -6px;
    width: 30px;
    color: #7073aa;
}

.slide
{
    overflow: hidden;
    position: relative;
    height: 180px;
    width: 321px;
    /* height: 100vh; */
    box-shadow: 0 0 3px #969ae9;
    border-radius: 7px;
}